<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=noderedtestingstorage;AccountKey=gf341fK4fFdtG882TxPlggVxsK5MUEZkcwAs3NRHJQEPF4mMcUXMN+4UJ9l6MAGnBU95YI2oj+k1pqSVNSJNnA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=noderedtestingstorage;AccountKey=gf341fK4fFdtG882TxPlggVxsK5MUEZkcwAs3NRHJQEPF4mMcUXMN+4UJ9l6MAGnBU95YI2oj+k1pqSVNSJNnA==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
</configuration>